<h1>Hello, Folks!</h1><br>
<h2>This page is hosted on HTTPD(Apache) server. System has the following configurations:</h2><br>
<h2>IP Address : <%= @ipaddress %></h2><br>
<h2>Host Name : <%= node['hostname'] %></h2><br>
# <h2>Memory : <%= node['memory'] %></h2><br>
<h2>Platform : <%= node['platform'] %></h2><br>